* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.header {
    background-color: #004d73;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.brand {
    display: flex;
    align-items: end;
    justify-content: end;
    font-size: 2rem;
}

.logo {
    width: 3rem;
    height: 3rem;
    border-radius: 100px;
    margin-right: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: #d3d0d0;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: white;
    text-decoration: underline;
}

.hero {
    margin-top: 2rem;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    color: #cccccc;
    margin-bottom: 1.5rem;
}

.btn {
    display: inline-block;
    background-color: blue;
    color: white;
    padding: 1rem 1.5rem;
    border: 2px solid white;
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: blue;
    transform: scale(1.05);
}

.menu-btn {
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
}

.section-title {
    position: relative;
    font-size: 2rem;
    margin-bottom: 2rem;
    padding-top: 4rem;
}

.section-title::after {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 46.5%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background-color: blue;
}
.services {
    text-align: center;
    background-color: #e9e7e7;
    padding-left: 5rem;
    padding-right: 5rem;
}
.service-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 6rem;
}

.service {
    width: calc(33.33% - 2rem);
    background-color: #f1eded;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
    text-align: center;
    margin-bottom: 2rem;
}

.service img {
    max-width: 100%;
    height: 68%;
}

.service h3 {
    font-size: 1.2rem;
    padding: 0.3rem;
}

.service p {
    font-size: 1.1rem;
    color: #555454;
    padding-left: 1rem;
    padding-right: 1rem;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    padding: 2rem 5%;
    background-color: white
}

.about-text {
    flex: 1;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.about p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
}

.button {
    display: inline-block;
    background-color: blue;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: blue;
    transform: scale(1.05);
}

.team-image {
    width: 350px;
    height: 300px;
}

.footer {
    text-align: center;
    padding: 1rem;
    background-color: #004d73;
    color: #ffffff;
}


/*  made it responsive for mobile  */
@media (max-width: 768px) {
    .navbar {
        position: relative;

    }

    .nav-links {
        display: none;
        position: absolute;
        top: 90%;
        background-color: #004d73;
        width: 40%;
        text-align: center;
        padding-bottom: 1rem;
    }

    .nav-links li {
        padding-top: 1.3rem;
    }

    .nav-links.active {
        display: block;
    }

    .menu-btn {
        display: block;
    }
    .service {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .about {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-text {
        margin-bottom: 2rem;
        text-align: justify;
    }

    .button {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 150px;
        background-color: blue;
        color: white;
        padding: 1rem 1.5rem;
        border-radius: 15px;
        text-decoration: none;
        transition: background-color 0.3s ease-in-out;
    }

    .team-image {
        max-width: 80%;
        margin-top: 2rem;
    }

}


@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* Medium screens */
    .service {
        width: calc(50% - 1rem);
        margin-bottom: 1.5rem;
    }
    .service h3{
        font-size: 1.2rem;
    }
   
}
